{% extends "main/base.html" %}

{% block title %} Home {% endblock %}

{% block header %}
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">NoteTaker</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-note' %}">Create Note</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <a class="btn btn-info my-2 my-sm-0 mr-2" href="{% url 'profile' %}">Profile</a>
          <a class="btn btn-danger my-2 my-sm-0" href="{% url 'logout' %}">Log Out</a>
        </div>
    </nav>
    </header>
{% endblock %}

{% block content %}
    <h1>Notes</h1>
    <div class="container-lg">
        <div class="list-group">
          <div class="row">
              {% for note in user.note.all %}
                  <div class="col-md-4">                
                      <div class="card-body-lg">
                          <h5 class="card-title-lg">
                            <a href="{% url 'update-note' note.pk %}" class="list-group-item list-group-item-action list-group-item-danger">{{note.title}}</a>
                          </h5>
                      </div>                    
                  </div>
              {% endfor %}
          </div>
      </div>
    </div>
{% endblock %}